package ${package.Entity}

#if(${activeRecord})
import java.io.Serializable;
#end

#foreach($pkg in ${table.importPackages})
import ${pkg};
#end

#if(${entityLombokModel})
import com.baomidou.mybatisplus.annotation.TableName;import lombok.Data;
import lombok.experimental.Accessors;
#end
/**
 * <p>
 * $!{table.comment} 实体类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
#if(${entityLombokModel})@Data@Accessors(chain = true)#end
#if(${table.convert})@TableName("${table.name}")#end
public class ${entity} #if(${superEntityClass})extends ${superEntityClass}<${entity}>#end{

}
